h1{
    text-align: center;
    /* border-width: 4px;
    border-style: solid;
    border-color: red; */

    /* border: 3px solid red; */

    /* border-left-color: red;
    border-left-style: solid;
    border-left-width: 3px; */

    /* border-left: 1px solid #000;
    border-top: 3px dashed red;
    border-right: 5px groove blue;
    border-bottom: 4px solid green; */

    border: 5px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.green{
    width: 250px;
    height: 150px;
    border: 7px solid green;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
h4{
    border-bottom: 4px solid red;
}
span{
    border-bottom: 4px solid greenyellow;
}

.profile-pic{
    border: 5px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}