%center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
%shared-btn{
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer
}