.parent-box{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* flex-flow: row wrap;
    justify-content: center; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    /* gap: 10px 100px; */
    /* row-gap: 10px;
    column-gap: 30px; */
    /* gap: 10px; */
    /* justify-content: space-between; */
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    font-weight: bolder;
}
.red-box{
    background-color: red;
    order: 0;
    /* flex-grow: 2; */
}
.green-box{
    background-color: green;
    order: 0;
    /* flex-grow: 1; */
    /* flex-basis: 500px; */
    /* flex: 2 7 300px; */
    align-self: flex-end;
}
.blue-box{
    background-color: blue;
    order: 1;
}
.orange-box{
    background-color: orange;
    order: 1;
    align-self: flex-start;
}